<head>
    <title>{% block title %}{{ pageTitle }}{% endblock %}</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="/dist/main.js"></script>
</head>
<body style="background-color: #eee; display:flex; flex-direction: row;">
<div style="margin: 10%; width: 60%" class="card rounded-3 text-black">
    <h3 style="margin: 10px">
        {% if action == 'post' %}
            New record successfully created
        {% elseif action == 'update' %}
            Record successfully updated
        {% elseif action == 'delete' %}
            Record(s) successfully deleted
        {% else %}
            How did you get here?
        {% endif %}
    </h3>
    <form method="POST" action="/" style="margin: 5%">
        <input type="hidden" name="altDataSource" value="{% if altDataSource == true %}true{% else %}false{% endif %}"/>
        <div style="margin: 10px">
            <button type="submit" class="btn btn-outline-info">Back to main page</button>
        </div>
    </form>
</div>
</body>